@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Raleway';
    src: url(./fonts/Raleway-Italic-VariableFont_wght.ttf);
    font-style: italic;
}
@font-face {
    font-family: 'Oswald';
    src: url(./fonts/Oswald-VariableFont_wght.ttf);
}
body {
    background:rgba(10, 2, 22, 0.94);
}
h2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 89px;
    color: #FFFFFF;
}
.block {
    width: 390px;
    height: 626px;
    background-image: url(./img/Vector.png);
    background-repeat: no-repeat;
    padding: 33px;
}
.firstImg {
    z-index: 1;
    position: absolute;
}
.heart {
    z-index: 0;
    margin-left: 130px;
    color:#B9B9B9;
}
.textPart {
    margin-top: 330px;
}
.button {
    width: 324px;
    height: 48px;
    background-image:url(./img/Vector\ 2.png);
    background-repeat:no-repeat;
}
.textPart p {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 125%;
    color: rgba(254, 254, 254, 0.5);
}
